/AbstractFactory.class
/Color.class
/ColorBlue.class
/ColorRed.class
/ColorYellow.class
/FactoryProducer.class
/Shape.class
/ShapeCircle.class
/ShapeRectangle.class
/ShapeSquare.class
/colorFactory.class
/factoryProductionDemo.class
/shapeFactory.class
/shapeFactoryDemo.class
